extends layout

block content
 .stuff
  h1= "SEARCH YOUR COMPANY HERE"
  form(action="/company" method="post")
   input(class="input" name="cname" type="text")
   input(type="submit" value="Search" class="lookup")
